.header {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

.header > div {
     display: flex;
     flex-direction: column;
     gap: 1em;
}

.header > div > input {
     padding: 0.5em 1em;
     border: none;
     border-radius: 0.5em;
}

.header h1 {
     font-size: 3em;
}

.header h3 {
     font-size: 2em;
     font-weight: 400;
}